header{height:72px; background:#0095FF; position:relative; position:fixed; left:0; top:0; width:100%; z-index:3; display: flex; justify-content: space-between; align-items: center; padding: 0 16px;}
header>aside{ display: flex; justify-content: space-between; align-items: center;}

.custom_select_menu{ height:32px; margin-top: 0px; position:relative;}
.custom_select_menu b{ display:flex; align-items: center;  height:32px; position:relative; z-index:1; background:url(../../assets/images/downArrow2.svg) no-repeat 100% 58%; text-align:left; color:#FFF; font-size:14px; font-weight:400; cursor:pointer; padding-right: 25px;} 

.custom_select_menu b.servicesMenuIcon:before{content:''; border-radius: 50%; background:#0A82EB url(../../assets/images/services-icon.svg) no-repeat 50% 50%; width:32px; height: 32px; display: inline-block; margin-right: 10px;}

.custom_select_menu b.selectCompany:before{content:''; border-radius: 50%; background:#0A82EB url(../../assets/images/selectCompany-icon.svg) no-repeat 50% 50%; width:32px; height: 32px; display: inline-block; margin-right: 10px;}

.custom_select_menu select{ position:absolute; left:50px; top:0;  height:30px; z-index:2; opacity:0; cursor:pointer;}
	
.adminLink{ display:flex; align-items: center;  height:32px; position:relative; z-index:1; text-align:left; color:#FFF; font-size:14px; font-weight:400; cursor:pointer; text-decoration: none;} 
.adminLink:before{content:''; border-radius: 50%; background:#0A82EB url(../../assets/images/admin-icon.svg) no-repeat 50% 50%; width:32px; height: 32px; display: inline-block; margin-right: 10px;}

.userName{ display: inline-block;  width:32px; height:32px; font-size: 13px; line-height:32px; text-align: center; text-transform: uppercase; background: #28B7FF; color: #B9EDFF; border-radius: 50%; font-weight: 600;}

.logo{ }
.notification{width: 22px; height:22px; background: url(../../assets/images/notification-icon.svg) no-repeat 50% 50%; position: relative;}
.notification span{ width: 16px; height: 16px; display: block; border-radius: 50%; background-color: #EA2A2A; color: #FFF; font-size: 8px; line-height: 15px; position: absolute; left: 10px; top: 5px; text-align: center;}